server: 'irc.cs.hut.fi'
channels:
  - '#channel1'
  - '#channel2'
  - '#channel3'
nick: 'diskotappi'
user: 'diskotappi'
realname: 'iso hali'
plugins:
  - YouTube
  - Soundcloud
  - Spotify
  - Mixcloud
  - DecisionMaker
  - GenreGenerator
  - UrlLog
  - MegaHal
  - GfyCat
  - Weather
  - Vimeo
  - RandomMixtape
  - Hearthis
  - Quote
  - Twitter
  - ResidentAdvisor
  - YleAreena
  - Vice
  - HsFi
  - Ei
  - Lol